body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  #description{
    height: 200px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .sidenav-overlay {
    display: none;
 }

 .tabs .indicator {
  background-color:#ff5722 ;
}

.schedule{
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
  justify-content: center;
  align-items: center;
}

.schedule .row {
  margin: 20px;
}

.class-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#freeclassdescription, #paidclassdescription {
  height: 100px;
  border-bottom: 1px solid #000000;
}

#card {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#card .card-image {
  border-radius: 50%;
  overflow: hidden;
  margin: -20px;
}

.editProfileForm {
  max-width: 300px;
   min-width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.editProfileField{
  height: 87px;
}

.editor{
  border-bottom: 1px solid rgb(221, 221, 221);
}
nav{
  background: linear-gradient(45deg,#fffefd,#ffead2,#f9972b,#d27e21,#825524,#001321,#00080d);
}
