body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  #description{
    height: 200px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .sidenav-overlay {
    display: none;
 }

 .tabs .indicator {
  background-color:#ff5722 ;
}

.schedule{
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
  justify-content: center;
  align-items: center;
}

.schedule .row {
  margin: 20px;
}

.class-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#freeclassdescription, #paidclassdescription {
  height: 100px;
  border-bottom: 1px solid #000000;
}

#card {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#card .card-image {
  border-radius: 50%;
  overflow: hidden;
  margin: -20px;
}

.editProfileForm {
  max-width: 300px;
   min-width: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.editProfileField{
  height: 87px;
}

.editor{
  border-bottom: 1px solid rgb(221, 221, 221);
}

/*custom button*/
.custom-card{
    transition: 0.3s ease-in-out !important;
}
.custom-card:hover{
    box-shadow: 5px 5px 10px #666363;
    transition: 0.3s ease-in-out;
    transform: translate(-5px, -5px);
}
.custom_btn{
    width: 100%;
    width: -moz-fit-content;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(90deg, #EE8E24, black);
}
.custom_btn:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 2px 2px 6px 0px  rgb(58 58 58);
    letter-spacing: 2px;
    color: white;
    /*background: linear-gradient(90deg, black, black);*/
    background: linear-gradient(90deg, black, #EE8E24);
}
ul:not(.browser-default) {
    padding-left: 30px;
    list-style-type: disc;
}
ul:not(.browser-default)>li {
    list-style-type: disc;
}
strong{
    font-weight: bold;
}
.mentors {
    margin-top: -50px;
    width: 100px!important;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #dd585c;
    border-radius: 100%!important;
    padding: 5px;
    background: #fffbf3;
    box-shadow: 2px 5px 7px #928d8d;
    transform: translate(10px,-40px);
}
nav{
    background: linear-gradient(45deg,#fffefd,#f8e9d9,#d79b59,#ef9229,#f68509,#db8322,#f68509);
}
.details_tab{
  padding: 15px;
  font-weight: 800;
  font-size: 15px;
  background: #ff4f4f;
  display: block;
  color: white;
  text-align: center;
  cursor: pointer;
}
.details_tab i{
  margin-right: 15px
}
