body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  background: #e2e2e2;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

#description {
  height: 200px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidenav-overlay {
  display: none;
}

.tabs .indicator {
  background-color: #ff5722;
}

.schedule {
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
  justify-content: center;
  align-items: center;
}

.schedule .row {
  margin: 20px;
}

.class-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#freeclassdescription,
#paidclassdescription {
  height: 100px;
  border-bottom: 1px solid #000000;
}

#card {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#card .card-image {
  border-radius: 50%;
  overflow: hidden;
  margin: -20px;
}

.editProfileForm {
  max-width: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editProfileField {
  height: 87px;
}

.editor {
  border-bottom: 1px solid #dddddd;
}

/*custom button*/
.custom-card {
  transition: 0.3s ease-in-out !important;
}
.custom-card:hover {
  box-shadow: 5px 5px 10px #666363;
  transition: 0.3s ease-in-out;
  transform: translate(-5px, -5px);
}
.custom_btn {
  width: 100%;
  width: -moz-fit-content;
  color: #ffffff;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(90deg, #ee8e24, black);
}
.custom_btn:hover {
  transition: all 0.4s ease-in-out;
  box-shadow: 2px 2px 6px 0px #333333;
  letter-spacing: 2px;
  color: white;
  /*background: linear-gradient(90deg, black, black);*/
  background: linear-gradient(90deg, black, #ee8e24);
}

.description ul:not(.browser-default) {
  padding-left: 30px;
  list-style-type: disc;
}
.description ul:not(.browser-default) > li {
  list-style-type: disc;
}

strong {
  font-weight: bold;
}
.mentors {
  margin-top: -50px;
  width: 100px !important;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #dd585c;
  border-radius: 100% !important;
  padding: 5px;
  background: #fffbf3;
  box-shadow: 2px 5px 7px #928d8d;
  transform: translate(10px, -40px);
}

.details_tab {
  padding: 15px;
  font-weight: 800;
  font-size: 15px;
  border: 3px solid #ff4f4f;
  display: block;
  color: black;
  text-align: center;
  cursor: pointer;
}
.details_tab i {
  margin-right: 15px;
}
.active_tab {
  padding: 15px;
  font-weight: 800;
  font-size: 15px;
  background: #ff4f4f;
  display: block;
  color: white;
  text-align: center;
  cursor: pointer;
}

.required::after {
  content: "*";
  color: #ff4f4f;
}

.navbar {
  background: linear-gradient(
    45deg,
    #fffefd,
    #f8e9d9,
    #d79b59,
    #ef9229,
    #de9341,
    #7b4d1b,
    #000000
  );
  min-height: 64px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    max-height: 64px;
    img {
      height: 64px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 64px;
    li {
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 64px;
      a {
        padding: 22.5px;
        color: inherit;
      }
    }
    li:hover {
      color: #ee8e24;
      font-weight: bold;
      background: white;
    }
  }
}
.ctabody {
  background: url("./images//hexagon2.webp");
  background-repeat: no-repeat;
  background-blend-mode: hue;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  .cta {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__nav {
      border: none;
      outline: none;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      &__actions,
      &__categories {
        padding: 10px 10px;
        max-width: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        button {
          margin: 5px;
          font-weight: bold;
        }
      }
      &__actions * {
        margin: 10px;
      }
      &__actions p {
        font-size: 40px;
      }
    }
    &__search {
      border: none;
      outline: none;
      width: 100%;
      padding: 0 20px 20px 20px;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
          border: 2px solid #ee8e24;
          padding: 20px;
          border-radius: 25px;
          outline: none;
          font-size: 30px;
          width: 80vw;
          max-width: 800px;
        }
        input::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
    }
  }
}

.hcc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loader {
    margin: 30px;
  }
  .paper {
    margin-top: 20px;
    max-width: 800px;
    width: 100%;
    min-height: 120px;
    h3,
    p {
      margin: 5px;
    }
    .chip {
      margin: 2px;
      border-radius: 15px;
    }
  }
}

.hc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__nav {
    display: flex;
    flex-direction: row;
    margin: 20px;
    max-width: 800px;
    flex-wrap: wrap;
    button {
      flex: 1;
      font-weight: bold;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    .card {
      border: 2px solid #ee8e24;
      border-radius: 5px;
      margin: 10px;
      &__body {
        width: 230px;
        height: 150px;
        * {
          margin: 5px;
        }
        .chip {
          margin: 5px;
        }
      }
    }
  }
}

.coursepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    input {
      border: 2px solid #ee8e24;
      padding: 10px;
      border-radius: 25px;
      outline: none;
      font-size: 30px;
      width: 80vw;
      max-width: 800px;
    }
    input::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__nav {
      display: flex;
    }
    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 800px;
      .card {
        border: 2px solid #ee8e24;
        border-radius: 5px;
        margin: 10px;
        &__content {
          width: 230px;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .tags {
            display: flex;
            flex-direction: column;
            color: #ee8e24;
            small {
              padding: 5px;
              border-radius: 10px;
              cursor: pointer;
            }
            small:hover {
              background: #ee8e24;
              color: white;
            }
          }
          * {
            margin: 5px;
          }
          button {
            width: 100%;
            margin: auto 0 0 0;
            font-weight: bold;
            border-top: 2px solid #ee8e24;
            border-bottom: none;
            border-right: none;
            border-left: none;
          }
          button:hover {
            font-weight: bolder;
          }
        }
      }
    }
  }
}

.auth {
  margin: 40px;
  display: flex;
  flex-direction: column;
  float: left;
  &__nav {
    margin: 20px 0;
    a {
      color: #fff;
      padding: 10px;
      background: #ee8e24;
    }
  }
  &__form {
    margin: 20px 0;
    &__control {
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.4rem;
      }
      input {
        margin: 10px 0;
        padding: 10px;
        outline: none;
        border: 2px solid #d3d3d3;
      }
      input:focus {
        border: 2px solid #ee8e24;
      }
    }
  }
  &__footer {
    margin: 20px 0;
    a {
      color: #ee8e24;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    width: 100%;
    background: #ffe0bf;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    li {
      padding: 10px;
      a {
        color: black;
      }
      a:hover {
        color: #ee8e24;
      }
    }
  }
  .footer__copyright {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a img {
      height: 60px;
      margin-left: 10px;
    }
    p {
      margin-right: 20px;
    }
  }
}
