@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&family=Raleway:wght@200;300;400;700;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  transition: all 0.2s ease-in-out;
}

button {
  background: #ee8e24;
  padding: 15px;
  color: #fff;
  font-size: inherit;
  outline: none;
  border: 1px solid #ee8e24;
}

button:hover {
  background: #fff;
  color: #ee8e24;
}
::selection {
  background: #fff;
  color: #ee8e24;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ee8e24; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.paper {
  border: 2px solid #ee8e24;
  padding: 20px;
}

.chip {
  padding: 5px;
  background: #ffb96e;
  color: white;
}

.errortext {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
